<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6934870364-5jj97fqh845fomd0eqqo5dmcoj45b682.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6934870364-5jj97fqh845fomd0eqqo5dmcoj45b682</string>
	<key>API_KEY</key>
	<string>AIzaSyDZW6bcDLhxYcZvauE-uIoRLoTbwzsp3iI</string>
	<key>GCM_SENDER_ID</key>
	<string>6934870364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insulinPump</string>
	<key>PROJECT_ID</key>
	<string>insulin-pump-a86ff</string>
	<key>STORAGE_BUCKET</key>
	<string>insulin-pump-a86ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6934870364:ios:27f0e410a8b99b5e14e999</string>
</dict>
</plist>